html {
  height: 100%;
}
body {
  background: #2d2e2f;
  margin: 0px;
  height: 100%;
  color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}

/*メイン処理*/

main {
  height: 100%;
}

main div {
  margin: 8px;
  float: left;
}

main .line {
  margin-left: 0px;
  height: 100%;
  border-left: 3px solid #404040;
}

.menu {
  width: 15%;
}

.menu ul li {
  padding: 8px 16px;
  border-bottom: 3px solid #404040;
}

.menu ul {
  padding: 0px;
  list-style:none;
}

.server_map {
  width: 700px;
  height: 700px;
}

/*----------ヘッダー処理----------*/

header {
  background: #18191a;
  padding: 8px;
  display:flex;
  border-bottom: 3px solid #404040;
}

/*ヘッダー 左側*/

.header_title {
  margin: 8px;
  position: relative;
  font-size: 30px;
  text-align: right;
  width: 210px;
}
.header_title img {
  margin: 0px;
  position: absolute;
  top: -3px;
  left: 0px;
  width: 44px;
  height: 44px;
  border: 3px solid #7b8ea0;
}
.header_title a {
  color: #ffffff;
  text-decoration: none;
}

/*ヘッダー右側*/

.header_right {
  margin: auto 0 auto auto;
  font-size: 20px;
}
.header_right ul {
  overflow: hidden;
  margin: auto;
  list-style:none;
}
.header_right ul li {
  margin: 0px 20px;
  float: left;
  text-align: center;
  white-space: nowrap;
}
.header_right ul li a {
  color: #ffffff;
  text-decoration: none;
}