.counter {
    display: inline;
    font-size: 32px;
}

.title {
    font-size: 25px;
}

body div {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    margin: 10px;
}